.mycluster {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url("icone2.jpg");

    text-align: center;
    font-size: 20px;    
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}
body{
	background-color:#330086;


}
#mapid{
 /* utiliser  media queries pour dimensionner la taille */
	height: 300px;
	
}
.onglet{
	text-align: center;
}

#onglet{
	background-color: grey;
	color: white;
}
#titre1:hover{
	color : black;
}
#titre2:hover{
	color : black;
}
#titre3:hover{
	color : black;
}